
@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/SFCompactDisplay-Medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/SFCompactDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/SFCompactDisplay-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("/fonts/SFCompactDisplay-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fa85e1;
  font-family:
    "SF Compact Display",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    sans-serif;
}
.phone {
  max-width: 430px;  /* giả lập điện thoại */
  min-width: 320px;
   width: 100vw; 
   height: 740px;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 30px 80px rgba(216, 3, 163, 0.6);
  position: relative;
  overflow: hidden;
    background: url("/imgs/hinhnen.jpg") center / cover no-repeat;

}
.status_bar {
  display: flex;
  justify-content: space-between;
}
.status_bar p {
  margin-top: 20px;
  margin-left: 20px;
  font: 14px;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
}
.status_bar .left_corner {
  display: flex;
  margin-top: 20px;
  margin-right: 20px;
}

.left_corner #batteryIcon{
  font-size: 20px;
  color: #ffffff;
  
}
.left_corner #wifiIcon{
  margin-right: 15px;
  font-size: 15px;
  color: #ffffff;
  margin-top: 2px;
}

.screen {
  touch-action: manipulation;
  opacity: 0;
  transform: translateY(10px) scale(0.98);
  transition:
    opacity 0.35s ease,
    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}


.screen.active {
  opacity: 1;
  transform: translateY(0) scale(1);
}