.messenger {
  background-color: #f9dbe9;
  background-image: url("/imgs/backgroundmess.jpg");
  display: flex;
  flex-direction: column;
  height: 700px;
}
.messenger .header {
  height: 50px;
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.messenger .header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.messenger .header span {
  padding-top: 8px;
  margin-right: 120px;
  position: relative;
}
.messenger .header a {
  text-decoration: none;
}
.messenger .header i {
  padding-top: 10px;
  color: #ff0b9d;
  font-size: 22px;
  cursor: pointer;
}
.header .fa-phone {
  margin-right: 25px;
}

.screen.messenger .chat {
  position: absolute;
  top: 70px;
  height: 510px;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;
  background: transparent;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.message {
  max-width: 70%;
  padding: 12px 12px;
  border-radius: 18px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.4;
}

.left {
  background: #fff3f5;
  align-self: flex-start;
}

.right {
  background: #ff0b9d;
  margin-right: 5px;
  color: white;
  align-self: flex-end;
}

.input-box {
  position: absolute;
  display: flex;
  top: 610px;
  left: 10px;
  height: 50px;
  padding: 8px;
  /* border-top: 1px solid #e0e0e0; 
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);  */
}

.input-box input {
  width: 200px;
  height: 35px;
  border-radius: 25px;
  border: none;
  background: #f2c3dd;
  padding: 0 15px;
  position: relative;
  margin-right: 14px;
  outline: none;
  font-size: 15px;
  color: #333;
  font-weight: 400;
}
.input-box i {
  padding-top: 8px;
  color: #ff0b9d;
  font-size: 20px;
}
.left_input {
  display: flex;
  gap: 20px;
  margin-right: 10px;
}
.input-box .fa-face-smile {
  position: absolute;
  right: 50px;
}
.input-box .icon_heart {
  position: relative;
  cursor: pointer;
}
.icon_heart .heart_2 {
  position: absolute;
  font-size: 15px;
  top: -8px;
}
.message.emoji-only {
  background: transparent !important;
  padding: 0;
  font-size: 32px;
  line-height: 1;
}
